.popcat {
  width: 60%;
  height: auto;
  max-width: 700px;
  min-width: 70px;
  display: block;
  margin: auto auto;
  -webkit-tap-highlight-color: transparent;
}
.container {
  text-align: center;
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.title {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: white;
}
.counter {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: white;
}
* {
  background-color: black;
}
